.button-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    padding: 4px;
    background: #ffffff;
}

.box {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06), 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;

    &-display {
        height: 60px;
    }
    &-operations .button {
        width: 52px;
    }
    &-digits {
        height: 224px;
    }
    &-result {
        height: 72px;
    }

    &_inactive {
        opacity: 0.5;
        pointer-events: none;
    }

    &_dragging {
        opacity: 0.7;

        ~ div {
            transform: none !important;
        }
    }
}
