.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 72px;
    height: 48px;
    background: #ffffff;
    border: 1px solid #e2e3e5;
    border-radius: 6px;
    color: #000;
    user-select: none;

    &-display {
        background: #f3f4f6;
        color: #111827;
        text-align: right;
        font-weight: 800;
        font-size: 36px;
        line-height: 44px;
        justify-content: flex-end;
        flex-direction: row;
    }
    &-zero {
        width: 152px;
    }
    &-result {
        height: 64px;
        background: #5d5fef;
        color: #fff;
    }
    &-display,
    &-result {
        width: 232px;
    }
}
